.heading {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.textcontent h1 {
  font-family: 'Jost', sans-serif;
  font-size: 28px;
  font-weight: 600;
  color: #000;
}

.textcontent p {
  color: #7C8DB5;
  font-weight: 400;
  font-size: 16px;
  font-family: 'Jost', sans-serif;
  padding-bottom: 10px;
}

.cardcontainer {
  border-radius: 10px;
  border: 1px solid #EAEAEA;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  padding: 10px;
  width: 100%; /* Ensure container takes full width */
}
.cards{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
.cardgroup {
  display: flex;
  justify-content: space-between;

}
.cardgroup1{
  display: flex;
  justify-content: left;
}


.gametable, .gamegraphs {
  border-radius: 10px;
  margin-top: 20px;
  border: 1px solid #EAEAEA;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 99%; /* Ensure these sections take full width */
}

.gameheadingsect h1 {
  font-family: 'Jost', sans-serif;
  font-weight: 600;
  font-size: 20px;
  padding-top: 20px;
  padding-left: 20px;
}

.gameheadingsect {
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.gamefilter {
  padding-top: 20px;
}

.lottie-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full height of the viewport */
}


@media (max-width: 1024px) {
    .heading {
      flex-direction: column;
      align-items: flex-start;
      margin-top: 70px;
    }
  
    .headicons {
      flex-direction: row;
      flex-wrap: wrap;
      gap: 0.5rem;
      justify-content: flex-start;
    }
  
    .gamegraphs, .gametable {
        margin-top: 10px;
        width: 100%;
      }
    /* .cards {
      display: grid;
      /* flex-direction: column; 
      align-items: center;
      grid-template-columns: repeat(3, 1fr);
    } */
    .cards {
      grid-template-columns: repeat(auto-fill, minmax(250px, 3fr)); /* Adjust grid layout for responsiveness */
    }
    .gameheadingsect {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .gamefilter {
      padding-top: 10px;
      width: 100%; /* Full width */
    }
  }
  
  
  @media (max-width: 590px) {
    .heading {
      margin-top: 80px;
      /* padding: 30px; Adjust padding as needed */
    }
  
    .textcontent h1,
    .headicons h2 {
      font-size: 24px; /* Adjust font size for smaller screens */
    }
  
    .textcontent p,
    .headicons h2 {
      font-size: 14px; /* Adjust font size for smaller screens */
    }
  
    .cardcontainer {
      display: flex;
      flex-direction: column;
      justify-content: left;
      align-items: left; 
      border: none;
      border-radius: none;
      box-shadow: none;
      /* width: 90%; */
    }
  
    .cards{
      display: flex;
      flex-direction: column;
      width: max-content;
    }
    .cardgroup,.cardgroup1 {
      flex: 1; /* Each card group takes up equal space */
      display: flex;
      flex-direction: row; /* Lay out cards in a row */
      justify-content: left; /* Evenly space cards within each group */
      border: 1px solid #EAEAEA;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      border-radius: 10px;
      padding: 10px;
      gap: 10px;
    }
  .cardgroup1{
    margin-top: 20px;
    
  }
    .gamegraphs {
      margin-top: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 60%; 
      padding: 10px; 
    }

    .gametable{
      margin-top: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%; 
      padding: 10px; 
    }
  
    .gamegraph{
      width: 100%;
    }
    .gameheadingsect {
      padding: 10px; /* Adjust padding for smaller screens */
    }
  }
  